* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.row .nav {
    background: #dbdede;
    width: 100%;
    height: 6vh;
    box-shadow: 0px 5px 8px #8589886a;
}

.row .nav .nav-item {
    margin-top: 5px;
    margin-left: 94%;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 6px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid silver;
}

.row .nav .nav-item i {
    margin-left: 3px;
    margin-right: 5px;

}

.nav-item:hover {
    transform: scale(1.1);
    transition: .2s;
    background: #cccccc;
    border: 2 px solid silver;
    box-shadow: 1px 1px 2px rgb(55, 50, 50);
}

.row .col-1 .sidebar {
    background: #70798C;
    box-shadow: 4px 0px 8px #70798C;
    height: 92vh;
    width: 25vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 50px;
}

.row .col-1 .sidebar ul {
    list-style-type: none
}

.side-bar .side-bar-item {
    outline: hidden;
    color: #000000;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    display: list-item;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 12px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.side-bar .side-bar-item i {
    margin-left: -22px;
    margin-right: 7px;
}

.side-bar .side-bar-item a {
    color: #000000;
    text-decoration: none;
}

.side-bar .side-bar-item:hover {
    transform: scale(1.1);
    transition: .2s;
    background: #ddd5d5;
    box-shadow: 2px 2px 2px rgb(167, 167, 167);
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #e7e2e2;
    margin-left: 105px;
    border-radius: 12px;
    z-index: -1;
}

.dropdown-content .dropdown-item {
    margin-left: -15px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.dropdown-content .dropdown-item:hover {
    background-color: #636161;
    color: white;
    /* transform: scale(1.1); */
    transition: .2s;
    /* font-weight: bold; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background: #ddd5d5;
    box-shadow: 2px 2px 2px rgb(167, 167, 167);
}

.row .col-2 .content {
    position: relative;
    display: flex;
    margin-right: 10px;
    margin-top: 25px;
    margin-left: 7rem;
}


@media screen and (max-width:900px) {
    .row .nav .nav-item {
        display: inline-flex;
        margin-top: 7px;
        margin-left: 80%;
        margin-bottom: 5px;
        padding: 1px;
        border-radius: 6px;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        border: 2px solid silver;
    }

    .row .nav .nav-item i {
        margin-left: 3px;
        margin-right: 5px;
    }

    .nav-item:hover {
        transition: .3s;
        background: #cccccc;
        border: 2 px solid silver;
        box-shadow: 1px 1px 2px rgb(55, 50, 50);
    }

    .row .col-1 .sidebar {
        background: #70798C;
        box-shadow: 5px 0px 8px #70798C;
        height: 100vh;
        width: 18vh;
        padding-top: 20px;
    }

    .side-bar .side-bar-item {
        outline: hidden;
        color: #000000;
        position: relative;
        font-size: 10px;
        font-weight: bold;
        display: list-item;
        margin-top: 10px;
        margin-left: -20px;
        margin-right: 12px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;

    }

    .dropdown-content {
        display: none;
        position: fixed;
        background-color: #e7e2e2;
        margin-left: 60px;
        border-radius: 12px;
        z-index: -1;
    }

    .dropdown-content .dropdown-item {
        margin-left: -15px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 2px;
        border-radius: 20px;
    }

    .row .col-2 .content {
        position: absolute;
        display: flex;
        margin-right: 10px;
        margin-top: 25px;
        margin-left: 7rem;
    }
}